<div class="row">
  <div class="span4 offset7 colorful" style="text-align:center">
    <h2>Log In with Github</h2>
    <%= button_to "Log In", "/auth/github", :class => "btn", :method => :get %>
  </div>
</div>
