<div class="row">
  <div class="span4 offset7" style="text-align:center; background-color: #f9f9f9">
    <h2>Log In with Github</h2>
    <%= button_to "Log In", "/auth/github", :class => "btn", :method => :get %>
  </div>
</div>
