<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
	</head>
	<body>
		<% @projects.each do |f| %>
			<div class=row">
				<div class="span5 offset4 well">
					<a href="/project/show/<%= f.name %>"><h2><%= f.name %></h2></a>
				</div>
			</div>
		<% end %>
	</body>
</html>
