<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
	  <div class="row">
		  <div class="span3 offset3">
			  <img src="<%= Octokit.user(@user.username)['avatar_url'] %>"/>
		  </div>
	  </div>
	  <div class="span7 offset 5">
	    <h2><%= @user.username %></h2>
		<p><%= @user.email %></p>
	  </div>
	</div>
	<div class="row">
      <div class="span5 offset2">
	    <h2>User Information</h2>
		<p>This is a paragraph that is kind of neat</p>
	  </div>
	  <div class="span5 offset1">
	    <h2>Project Information</h2>
		<p>This is another paragraph</p>
	  </div>
	</div>
  </body>
</html>
